<a href="/home/showtimes">
<div class="grid">
  <div class="grid-row grid-row-sm">
    <div class="cell"><img src="/jackie_brown.webp" alt=""></div>
    <div class="cell"><img src="/once_upon.webp" alt=""></div>
  </div>
  <div class="grid-row grid-row-sm">
    <div class="cell"><img src="/pulp_fiction.webp" alt=""></div>
    <div class="cell"><img src="/reservoir_dogs.webp" alt=""></div>
  </div>
  </a>
