<a href="/home/showtimes">
  <div class="grid">
    <div class="grid-row grid-row-sm">
      <div class="cell"><img src="/jackie_brown.webp"></div>
      <div class="cell"><img src="/once_upon.webp"></div>
    </div>
    <div class="grid-row grid-row-sm">
      <div class="cell"><img src="/pulp_fiction.webp"></div>
      <div class="cell"><img src="/reservoir_dogs.webp"></div>
    </div>
  </a>
