.grid {
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 60px;
}

.grid-row {
  display: flex;
  flex-direction: row;
}

.cell {
  flex: 1;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.menu_grid {
  padding-left: 150px;
  padding-right: 150px;
}

.menu_cell {
  flex: 1;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-family: "Roboto", monospace;
  font-size: 20px;
  text-align: center;
  color: black;
}

@media all and ( max-width: 830px ) {
  .grid-row-sm{
    flex-direction: column;
  }
}
@media all and ( max-width: 830px ) {
  .menu_grid-row-sm{
    flex-direction: column;
  }
}

img { width: 100%; height: auto; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 10px;
}

h1 {
  font-family: "Monofett", monospace;
  font-size: 200px;
  font-size: 25vw;
  text-align: center;
  line-height: 34px;
  height: 0px;
  margin-top: 9%;
}

.hr1  {
  border: 10px solid black;
  border-radius: 10px;
}

a {
  color: inherit;
  text-decoration: none
}

.showtimes {
  font-family: "Roboto", monospace;
  font-size: 17px;
  text-align: center;
  color: black;
}

.film_title {
  font-family: "Roboto", monospace;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: black;
}

.rating_logo {
  max-width:5%;
  height:auto;
}

.foot {

  clear: both;
  margin-top: auto;
  text-align: center;
}

html {
box-sizing: inherit;
}

body {
position: relative;
margin: 0;
padding-bottom: 6rem;
min-height: 100%;
}

.footer {
  font-family: "Roboto", monospace;
  font-size: 18px;
  color: black;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
